04-Terraform/19-Nov/.terraform*
04-Terraform/19-Nov/terraform.tfstate
04-Terraform/19-Nov/terraform.tfstate.backup

04-Terraform/20-Nov/.terraform*
04-Terraform/20-Nov/terraform.tfstate
04-Terraform/20-Nov/terraform.tfstate.backup

04-Terraform/21-Nov/.terraform*
04-Terraform/21-Nov/terraform.tfstate
04-Terraform/21-Nov/terraform.tfstate.backup